body {
  font-family: "Poppins", "Segoe UI", "Roboto";
  background-image: url(/src/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

div {
  background-color: rgb(0, 99, 21);
  opacity: 0.9;
}

.opacity {
  background-color: rgb(2, 124, 28);
}

.mainStat {
  font-size: x-large;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0;
}

.button {
  font-size: x-large;
  text-transform: uppercase;
  font-weight: 900;
  background: none;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
