body {
  font-family: "Poppins", "Segoe UI", "Roboto";
  background-image: url(/src/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

.divbg {
  background: rgba(0, 151, 19, 0.5);
}

/* .opacity {
  opacity: 0.75;
} */

.mainStat {
  font-size: x-large;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0;
}

.button {
  font-size: x-large;
  text-transform: uppercase;
  font-weight: 900;
  /* background: none; */
  color: white;
  /* border: none; */
  padding: 0;
  cursor: pointer;
  /* outline: inherit; */
  opacity: 1 !important;
}

.button::after {
  opacity: 1 !important;
}
